<div id="movie-stats-graph" style="width: 580px; height: 300px; margin: 0 auto"></div>
<script type="text/javascript"> 
	$(document).ready(function() {
		var chart = new Highcharts.Chart({
			chart: {
				renderTo: 'movie-stats-graph',
				defaultSeriesType: 'area',
        marginRight: 30,
        marginLeft: 70,
        marginBottom: 50,
        borderRadius: 15
			},
			title: {
				text: 'Movie Popularity'
			},
			subtitle: {
				text: 'Swarm size overtime'
			},
			xAxis: {
				type: 'datetime'
			},
			yAxis: {
				title: {
          text: "Swarm Size <%= scale_label movie %>"
				},
				plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				}]
			},
			tooltip: {
				formatter: function() {
          return '<b>' + this.series.name +'</b><br/>' +	Highcharts.dateFormat('%e %b %Y', this.x) + 
            ' : ' + Highcharts.numberFormat((this.y * <%= scale_rate movie %>), 0, ',');
				}
      },
      legend: {
         layout: 'vertical',
         align: 'left',
         verticalAlign: 'top',
         x: 90,
         y: 70,
         borderWidth: 1,
         backgroundColor: '#505050'
      },
			plotOptions: {
				area: {
					stacking: 'normal',
					lineColor: '#666666',
					lineWidth: 1,
					marker: {
						lineWidth: 1,
						lineColor: '#666666'
					}
				}
			},			
			series: [{
       name: 'Leaches',
       pointInterval: 24 * 3600 * 1000,
       pointStart: <%= start_point_date(movie) %>,
			 data: <%= data_points(movie, :leaches) %>
			}, {
       name: 'Seeds',
       pointInterval: 24 * 3600 * 1000,
       pointStart: <%= start_point_date(movie) %>,
			 data: <%= data_points(movie, :seeds)  %>
			}]
		});
	});
		
</script>
