<div id="current-torrents-graph" style="width: 580px; height: 300px; margin: 0 auto"></div>

<!-- 2. Add the JavaScript to initialize the chart on document ready --> 
<script type="text/javascript"> 
	$(document).ready(function() {
    var torrentInfo = <%= raw torrent_info_json(movie) %>  
    var chart = new Highcharts.Chart({
			chart: {
				renderTo: 'current-torrents-graph',
        marginBottom: 30,
				borderRadius: 15,		
				defaultSeriesType: 'column'
			},
			title: {
				text: 'Latest Torrents'
			},
      xAxis: {
        startOnTick: false,
        lineWidth: 0,
        tickWidth: 0,
        tickLength: 0,
        labels:{
          enabled: false
        },
        categories: <%= movie.latest_torrent_stats.collect { |ts| ts.torrent.name }.to_json.html_safe %>
			},
			yAxis: {
				min: 0,
				title: {
          text: "Swarm Size <%= scale_label movie %>"
				}
			},
			tooltip: {
				formatter: function() {
          return '<b>'+ this.x +'</b><br/>'+
            'First Seen: ' + torrentInfo[this.x]['created_at'] + '<br/>' + 
            this.series.name +': '+ Highcharts.numberFormat(this.y * <%= scale_rate movie %>, 0, ',') +'<br/>'+
						'Total: '+ Highcharts.numberFormat(this.point.stackTotal * <%= scale_rate movie %>, 0 , ',');
				}
      },
      legend: {
         layout: 'vertical',
         align: 'left',
         verticalAlign: 'top',
         x: 450,
         y: 5,
         borderWidth: 1,
         backgroundColor: '#505050'
      },
			plotOptions: {
				column: {
					stacking: 'normal'
				}
			},
		  series: [{
				name: 'Leaches',
				data: <%= movie.latest_torrent_stats.collect { |ts| ts.leaches / scale_rate(movie) }.to_json %>
			},{
				name: 'Seeds',
				data: <%= movie.latest_torrent_stats.collect { |ts| ts.seeds / scale_rate(movie) }.to_json %>
			}]
		});
		
		
	});		
</script>
