<div id="current-torrents-graph" style="width: 580px; height: 300px; margin: 0 auto"></div>

<!-- 2. Add the JavaScript to initialize the chart on document ready --> 
<script type="text/javascript"> 
	$(document).ready(function() {
    var torrentInfo = <%=raw torrent_info_json(movie) %>  
    var chart = new Highcharts.Chart({
			chart: {
				renderTo: 'current-torrents-graph',
        marginBottom: 30,
				borderRadius: 15,		
				defaultSeriesType: 'column'
			},
			title: {
				text: 'Latest Torrents'
			},
      xAxis: {
      allowDecimals: false,
      categories: <%= (1..movie.torrents.count).to_a.to_json %>
			},
			yAxis: {
				min: 0,
				title: {
          text: "Swarm Size <%= scale_label movie %>"
				}
			},
			tooltip: {
				formatter: function() {
					return '<b>'+ torrentInfo[this.x - 1]['name'] +'</b><br/>'+
            'First Seen: ' + torrentInfo[this.x - 1]['created_at'] + '<br/>' + 
            this.series.name +': '+ Highcharts.numberFormat(this.y * <%= scale_rate movie %>, 0, ',') +'<br/>'+
						'Total: '+ Highcharts.numberFormat(this.point.stackTotal * <%= scale_rate movie %>, 0 , ',');
				}
      },
      legend: {
         layout: 'vertical',
         align: 'left',
         verticalAlign: 'top',
         x: 90,
         y: 70,
         borderWidth: 1,
         backgroundColor: '#505050'
      },
			plotOptions: {
				column: {
					stacking: 'normal'
				}
			},
		  series: [{
				name: 'Leaches',
				data: <%= movie.torrents.collect { |t| t.stats.latest.leaches / scale_rate(movie) }.to_json %>
			},{
				name: 'Seeds',
				data: <%= movie.torrents.collect { |t| t.stats.latest.seeds / scale_rate(movie) }.to_json %>
			}]
		});
		
		
	});		
</script>
