<% content_for :head do %>
	<%= stylesheet_link_tag 'prettyPhoto' %>

	<%= javascript_include_tag 'highcharts' %>
	<%= javascript_include_tag 'highcharts.settings' %>
	<%= javascript_include_tag 'jquery.cookie' %>
	<%= javascript_include_tag 'custom-download-link' %>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= javascript_include_tag 'jquery.youtubeSearch' %>
  
<% end %>

<% content_for :main_title do %>
  <%= @movie.display_name %>
<% end %>

<script type="text/javascript" charset="utf-8"> 
  $(document).ready(function(){
      $("a[rel^='youtubeSearch']").youtubeSearch();
      $("a[rel^='prettyPhoto']").prettyPhoto({theme:'light_rounded'});
  });
</script> 

<div id="show-movie">
  <div class="post">	
    <div class="side-title">
      <div class="side-title-text">PLOT</div>
    </div>
    <div id="content-info" class="entry">
      <p id="plot-summary">
        <% if @movie.plot.present? %>
          <span class="first-word">
            <%= @movie.plot.split.first %>
          </span> 
          <%= @movie.plot.split[1..-1].join(' ') %>
        <% else %>
          <i>Plot missing.</i>
        <% end %>
      </p>
    </div>
  </div>

  <div class="post">
    <div class="side-title">
      <div class="side-title-text">SCORE</div>
    </div>
    <div id="score-entry" class="entry">
      <div id="rank-label" class="label">Current Rank:</div>
      <% if @movie.current_rank.present? %>
        <div id="rank-badge" class="badge">
          <div class="<%= rank_number_class @movie.current_rank %> <%= "badge-number-#{@movie.current_rank}" %>">
            <%= @movie.current_rank %>
          </div>
          <div class="<%= rank_ordinal_class @movie.current_rank %>  <%= "badge-ordinal-#{@movie.current_rank}" %>">
            <%= ordinal @movie.current_rank %>
          </div>
        </div>
      <% else %>
        <div id="rank-na">NA</div>
      <% end %>
      <div id="popularity-score">
        <strong>Swarm Size:</strong> <%= @movie.swarm_score %>
      </div>
      <% if @movie.swarm_score_up? %>
        <%= image_tag 'up.png', :alt => 'Up', :class => 'popularity-score-trend tooltip', 
            :title => "Up from #{@movie.previous_swarm_score}" %>
      <% elsif @movie.swarm_score_down? %>
        <%= image_tag 'down.png', :alt => 'Down', :class => 'popularity-score-trend tooltip',
            :title => "Down from #{@movie.previous_swarm_score}" %>
      <% end %>
    </div>
  </div>

  <div class="post">
    <div class="side-title">
      <div class="side-title-text">SEE</div>
    </div>
    <div class="entry">
      <p id="actions-container">
      
        <%= render :partial => '/shared/watch_trailer', :locals => {:movie_title => @movie.name} %>
              
        <% unless @movie.imdb_id.blank? %>
          <a href="http://www.imdb.com/title/tt<%= @movie.imdb_id %>" class="action-link">IMDB</a>
        <% end %>
        
        <a href="#" class="action-link download-link" movieTitle="<%= @movie.name %>">Download</a>
        <%= render :partial => '/shared/download_link_dialog' %>
      </p>
    </div>
  </div>

  <div class="post">
    <div class="side-title">
      <div class="side-title-text">TRACK</div>
    </div>
    <div class="entry">
      <% unless @movie.torrents.empty? %>
        <div id="graph-tabs">
          <ul>
            <% unless  @movie.movie_stats.empty? %>
              <li><a href="#historic-graph">Historic</a></li>
            <% end %>
            <li><a href="#torrents-graph">Torrents</a></li>
          </ul>  
          <% unless  @movie.movie_stats.empty? %>
            <div id="historic-graph">
              <div id="movie-stats-graph" style="width: 580px; height: 300px; margin: 0 auto"></div>
              <%= render :partial => "movie_stats_graph", :locals => {:movie => @movie} %>
            </div>
          <% end %>
          <div id="torrents-graph"> 
            <%= render :partial => "torrents_column_graph", :locals => {:movie => @movie} %>
          </div> 
        </div>
        <script type="text/javascript">
            $(function() {
              $("#graph-tabs").tabs();
            });
        </script>
      <% else %>
        <div class="no-stats-message">No torrent stats.</div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :sidebar_title do %>
  Movie Summary
<% end %>

<% content_for :sidebar do %>
  <div id="movie-show-sidebar">
    <% unless @movie.images.poster.blank? %>
      <a href="<%= image_path(@movie.images.poster.file_name) %>" rel="prettyPhoto">
        <%= image_tag @movie.images.poster.file_name, :alt => @movie.display_name, :class => 'poster' %>
      </a>
	  <% end %>
  </div>

  <table id="movie-summary-table" class="rounded-table">
    <tbody>
      <%= render :partial => "optional_row", :locals => {:data_label => 'Director', :data => @movie.director} %>
      <%= render :partial => "optional_row", :locals => {:data_label => 'Runtime', 
            :data => runtime_span(@movie.runtime), :raw_data => true} %>
      <%= render :partial => "optional_row", :locals => {:data_label => 'Release Date', 
            :data => @movie.release_date? ? @movie.release_date.strftime('%d %B %Y') : ''} %>
      <%= render :partial => "optional_row", :locals => {:data_label => 'Classification', :data => @movie.classification} %>
      <%= render :partial => "optional_row", :locals => {:data_label => 'Language', :data => @movie.language} %>
      <% if @movie.genres.present? %>
        <tr>	
          <td>Genres</td>
          <td>
            <%= @movie.genres.collect{|g| g.name}.join(', ') %>
          </td>		
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

