<% content_for :head do %>
	<%= javascript_include_tag 'highcharts' %>
	<%= javascript_include_tag 'highcharts.settings' %>
<% end %>

<% content_for :main_title do %>
  <%= @movie.display_name %>
<% end %>

<div id="show-movie">
<% unless @movie.torrents.empty? %>
  
  <div class="post">	
    <div class="side-title">
      <div class="side-title-text">PLOT</div>
    </div>
    <div id="content-info" class="entry">
      <p id="plot-summary">
      <span class="first-word">In</span> a world where technology exists to enter the human mind through dream invasion, a highly skilled thief is given a final chance at redemption which involves executing his toughest job till date, Inception.
      </p>
    </div>
  </div>

  <div class="post">
    <div class="side-title">
      <div class="side-title-text">SCORE</div>
    </div>
    <div class="entry" id="score-entry">
      <div id="rank-label" class="label">Current Rank:</div>
      <div id="rank-badge" class="badge"><div class="number">1</div><div class="ordinal">st</div></div>
      <div id="popularity-score">
        <strong>Swarm Size:</strong> 532000
       </div>
	     <%= image_tag 'up.png', :alt => 'Up', :class => 'popularity-score-trend' %>
    </div>
  </div>

  <div class="post">
    <div class="side-title">
      <div class="side-title-text">SEE</div>
    </div>
    <div class="entry">
      <p id="actions-container">
        <a href="#" class="action-link">Watch Trailer</a> 
        <a href="http://www.imdb.com/title/tt<%= @movie.imdb_id %>" class="action-link">IMDB</a>
        <a href="#" class="action-link">Download</a>
      </p>
    </div>
  </div>

  <div class="post">
    <div class="side-title">
      <div class="side-title-text">TRACK</div>
    </div>
    <div class="entry">
      <div id="graph-tabs">
        <ul>
          <li><a href="#historic-graph">Historic</a></li>
          <li><a href="#torrents-graph">Torrents</a></li>
        </ul>  
        <div id="historic-graph">
          <%= render :partial => "movie_stats_graph", :locals => {:movie => @movie} %>
        </div>
        <div id="torrents-graph"> 
          <%= render :partial => "torrents_column_graph", :locals => {:movie => @movie} %>
        </div> 
      </div>
      <script type="text/javascript">
          $(function() {
            $("#graph-tabs").tabs();
          });
	    </script>
    </div>
  </div>

<% else %>
	No torrent stats.
<% end %>
</div>

<% content_for :sidebar_title do %>
  Movie Summary
<% end %>

<% content_for :sidebar do %>
  <div id="movie-show-sidebar">
	  <% unless @movie.images.poster.blank? %>
		<%= image_tag @movie.images.poster.file_name, :alt => @movie.display_name, :class => 'poster' %>
	  <% end %>
  </div>

  <table id="movie-summary-table" class="rounded-table">
	  <tbody>
		<tr>
		<td>Director</td>
		<td>Christopher Nolan</td>
		</tr>
		<tr>		
			<td>Runtime</td>
			<td>148 min</td>
		</tr>
		<tr>
		<td>Release Date</td>
		<td>22 July 2010</td>
	</tr>
	<tr>		
		<td>Classification</td>
		<td>PG-13</td>
	</tr>
	<tr>		
		<td>Language</td>
		<td>English</td>		
	</tr>	
	<tr>	
		<td>Genres</td>
		<td>
			Action, Mystery, Sci-Fi, Thriller
		</td>		
		</tr>
	  </tbody>
  </table>
<% end %>

