<li class="movie-tile movie-tile-row-<%= movie_tile_counter / 5 %> <%= 'first-tile' if movie_tile_counter % 5 == 0 %>" 
    data-id="<%= movie_tile.id %>">
<div class="movie-tile-inner">
<%= link_to movie_tile.images.small.blank? ? image_tag('poster_missing_small.jpg', :alt => "Poster missing", :class => 'poster-thumbnail', :width => 100, :height => 140) : 
    image_tag(movie_tile.images.small.file_name, :alt => movie_tile.display_name, :class => 'poster-thumbnail', 
              :width => movie_tile.images.small.width, :height => movie_tile.images.small.height), movie_tile %>
	
    <a href="<%= movie_path(movie_tile) %>" class="movie-title-link">
      <% if movie_tile.display_name.length <= 29 %>
        <%= movie_tile.display_name %>
      <% else %>
        <span class="tooltip" title="<%= movie_tile.name %>"><%= movie_tile.name[0..22] %> ...</span>
        (<%= movie_tile.year %>)
      <% end %>
    </a> 
	<div class="movie-badges">
    <%= render :partial => '/shared/watch_trailer', 
      :locals => {:movie_title => movie_tile.name, :link_text => 
        image_tag('youtube_icon.png', :alt => 'Watch Trailer', :class => 'trailer-badge', :height => 16, :width => 16)} %>

    <a href="#" class="action-link download-link" movieTitle="<%= movie_tile.name %>">
       <%= image_tag 'download_icon.png', :alt => 'Download', :class => 'download-badge', :height => 16, :width => 16 %></a>

    <a href="http://www.imdb.com/title/tt<%= movie_tile.imdb_id %>" class="action-link">
       <%= image_tag 'imdb_icon.png', :alt => 'IMDB', :class => 'imdb-badge', :height => 16, :width => 16 %></a>
  </div>
</div>
</li>
