<div class="movie-tile">
  <%= link_to movie_tile.images.small.blank? ? image_tag('no_preview.jpg', :alt => "No preview", :class => 'poster-thumbnail') : 
    image_tag(movie_tile.images.small.file_name, :alt => movie_tile.display_name, :class => 'poster-thumbnail'), 
    movie_tile %>
	
    <h6>
      <% if movie_tile.display_name.length <= 29 %>
        <%= movie_tile.display_name %>
      <% else %>
        <span class="tooltip" title="<%= movie_tile.name %>"><%= movie_tile.name[0..22] %> ...</span>
        (<%= movie_tile.year %>)
      <% end %>
    </h6> 
	<div class="movie-badges">
    <%= render :partial => '/shared/watch_trailer', 
      :locals => {:movie_title => movie_tile.name, :link_text => 
        image_tag('youtube_icon.png', :alt => 'Watch Trailer', :class => 'trailer-badge')} %>

    <a href="#" class="action-link download-link" movieTitle="<%= movie_tile.name %>">
       <%= image_tag 'download_icon.png', :alt => 'Download', :class => 'download-badge' %></a>
     
    <a href="http://www.imdb.com/title/tt<%= movie_tile.imdb_id %>" class="action-link">
       <%= image_tag 'imdb_icon.png', :alt => 'IMDB', :class => 'imdb-badge' %></a>
  </div>
</div>
