<% content_for :head do %>
	<%= stylesheet_link_tag 'prettyPhoto' %>

	<%= javascript_include_tag 'highcharts' %>
	<%= javascript_include_tag 'highcharts.settings' %>
	<%= javascript_include_tag 'jquery.cookie' %>
	<%= javascript_include_tag 'custom-download-link' %>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= javascript_include_tag 'jquery.youtubeSearch' %> 
<% end %>

<% content_for :main_title do %>
  <% unless params[:genre].blank? %>
    Popular <%= params[:genre].titleize %> Movies 
  <% else %>
    Most Popular Movies
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8"> 
  $(document).ready(function(){
      $("a[rel^='youtubeSearch']").youtubeSearch();
      // Make pagination ajax
      $('.pagination a').attr('data-remote', 'true');
  });
</script> 

<% unless @movies.blank? %>
  <div id='search-results'>
    <%= render :partial => "search_results" %>
  </div>
<% else %>
  No movies.
<% end %>

<%= render :partial => '/shared/download_link_dialog' %>

<% content_for :sidebar_title do %>
  More Info
<% end %>

<% content_for :sidebar do %>
  <div class="widget">
    <h2 class="widgettitle">About Swarms</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Proin eu lorem eu odio auctor consectetur varius quis est. 
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
    Proin varius erat at tortor ultricies mollis ac quis nunc. Vivamus rhoncus facilisis mauris, 
    eu posuere est vulputate quis. Nunc eu enim ac nulla volutpat tempor at eget odio. 
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
  </div>
  <div class="widget">
    <h2 class="widgettitle">Recent Additions</h2>
    <table id="recently-added-table" class="rounded-table">
      <tbody>
        <% @recent_additions.each do |movie| %>
          <tr>
            <td><%= link_to movie.display_name, movie_path(movie), 
              :class => 'tooltip', :title => "Added #{movie.created_at.strftime('%d %B %Y')}" %>
            </td>
          </tr>
        <% end %>  
      </tbody>
    </table>
  </div>  
<% end %>
