<% content_for :head do %>
	<%= stylesheet_link_tag 'prettyPhoto' %>

	<%= javascript_include_tag 'highcharts' %>
	<%= javascript_include_tag 'highcharts.settings' %>
	<%= javascript_include_tag 'jquery.cookie' %>
	<%= javascript_include_tag 'custom-download-link' %>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= javascript_include_tag 'jquery.youtubeSearch' %> 
<% end %>

<% content_for :main_title do %>
  Most Popular Movies
<% end %>

<script type="text/javascript" charset="utf-8"> 
  $(document).ready(function(){
      $("a[rel^='youtubeSearch']").youtubeSearch({showTitle:false});
        // Make pagination ajax
        $('.pagination a').attr('data-remote', 'true');
  });
</script> 

<% unless @movies.blank? %>
  <div id='search-results'>
    <%= render :partial => "search_results" %>
  </div>
<% else %>
  No movies.
<% end %>

<%= render :partial => '/shared/download_link_dialog' %>

<% content_for :sidebar_title do %>
  <%= @featured_movie.display_name %>
<% end %>

<% content_for :sidebar do %>
  <div id="movie-stats-graph" style="width: 250px; height: 60px; margin: 0 auto"></div>
  <%= render :partial => "/movies/movie_stats_graph", :locals => {:movie => @featured_movie} %>
<% end %>
