<% content_for :head do %>
  <%= javascript_include_tag 'torrents' %>
<% end %>

<% content_for :main_title do %>
  Verify Torrents
<% end %>

<% content_for :sidebar_title do %>
  <%= form_tag(torrents_path, :method => "get") do %>
    <%= label_tag "search_torrents", "Search Torrents", :class => 'hidden' %> 
    <input type="search" name="search_torrents" id="search_torrents" value="<%= params[:search_torrents] %>" style="float: left;"/>
    <%= submit_tag "Search", :class => "action-button", :id => 'search-torrents-button' %>
  <% end %>
<% end %>

<% unless @torrents.blank? %>
  <%= form_tag(verify_torrents_path, :method => "put") do %>
    <div class="post" style="margin-bottom: 10px;">
        <table id="verify-torrents-table" class="rounded-table">
          <thead>
            <tr>
              <th></th>
              <th>Torrent</th>
              <th>Movie</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @torrents.each_with_index do |torrent, index| %>
              <tr id="match_row_for_<%= torrent.id %>">
                <td>
                  <%= label_tag "verify_torrent_#{torrent.id}", "Verify #{torrent.name}", :class => 'hidden' %> 
                  <%= check_box_tag "verify[#{index}][verified]", "1", false, 
                      {:id => "verify_torrent_#{torrent.id}"}.merge(torrent.movie? ? {} : {:disabled => true}) %>
                  <%= hidden_field_tag "verify[#{index}][torrent_id]", torrent.id, :id => "torrent_id_for_#{torrent.id}" %>
                  <%= hidden_field_tag "verify[#{index}][imdb_id]", '', :id => "imdb_id_for_#{torrent.id}" %>
                  <%= hidden_field_tag "verify[#{index}][movie_id]", torrent.movie? ? torrent.movie.id : 0, 
                        :id => "movie_id_for_#{torrent.id}" %>
                </td>
                <td><div class="torrent-name-container"><%= torrent.name %></div></td>
                <td id="link_to_movie_for_<%= torrent.id %>"><%= link_to(torrent.movie.display_name, movie_path(torrent.movie), {:target => '_blank'}) if torrent.movie %></td>
                <td>
                  <input type="button" value="Change" class="action-button change-movie" data-movie-name="<%= ToName.to_name(torrent.name).name %>" data-torrent-id="<%= torrent.id %>"/>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id="torrent-verify-buttons">
        <input id="select-all-checkboxes" type="button" value="Select All" class="action-button" />
        <%= submit_tag "Verify", :class => "action-button", :id => 'verify-torrents-button' %>
      </div>
  <% end %>

  <%= will_paginate @torrents, :inner_window => 1, :outer_window => 1 %>

<% else %>
  No un-verifed torrents.
<% end %>

<div id="change-movie-dialog" title="Change Torrent's Movie">
	<form id="change-movie-form">
    <label for="new_movie_title">Movie Name:</label>
    <input type="text" name="new_movie_title" id="new_movie_title" class="text ui-widget-content ui-corner-all" />
    <input id="change-movie-search-button" type="button" value="Search" class="action-button" />
    <div id="change-movie-loading-indicator" class="loading-indicator loading-indicator-active" style="display:none"></div>
  </form>
  <hr/>
  <table id="change-movie-table" class="rounded-table" style="display:none">
    <thead>
      <tr>
        <th>Movie</th>
        <th>Year</th>
        <th>Swarm Page</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
