<% content_for :main_title do %>
  Verify Torrents
<% end %>

<% unless @torrents.blank? %>
  <%= form_tag(verify_torrents_path, :method => "put") do %>
    <table id="verify-torrents-table" class="rounded-table">
      <thead>
        <tr>
          <th></th>
          <th>Torrent</th>
          <th>Movie</th>
        </tr>
      </thead>
      <tbody>
        <% @torrents.each do |torrent| %>
          <tr>
            <td>
              <%= label_tag "verify_torrent_#{torrent.id}", "Verify #{torrent.name}", :class => 'hidden' %> 
              <%= check_box_tag "verify[][verified]", "1", false, 
                  {:id => "verify_torrent_#{torrent.id}"}.merge(torrent.movie? ? {} : {:disabled => true}) %>
              <%= hidden_field_tag "verify[][torrent_id]", torrent.id, :id => "torrent_id_for_#{torrent.id}" %>
              <%= hidden_field_tag "verify[][movie_id]", torrent.movie? ? torrent.movie.id : 0, 
                    :id => "movie_id_for_#{torrent.id}" %>
            </td>
            <td><div class="torrent-name-contaner"><%= torrent.name %></div></td>
            <td><%= torrent.movie.display_name if torrent.movie %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <input id="select-all-checkboxes" type="button" value="Select All" class="action-button" />
    <%= submit_tag "Verify", :class => "action-button" %>
  <% end %>
  <%= will_paginate @torrents %>
<% else %>
  No un-verifed torrents.
<% end %>
<script>
  $(document).ready(function(){
    $('#verify-torrents-table td:nth-child(2), td:nth-child(3)').click(function(){
      var $checkbox = $(this).parent().find('input[type=checkbox]');
      $checkbox.attr('checked', !$checkbox.attr('disabled') && !$checkbox.attr('checked'));
    });

    $('#select-all-checkboxes').click(function(){
      $('input[type=checkbox]').attr('checked', true);
    });
  });
</script>
